.buttonComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 40px;
    padding: 0px 50px;
    border: 1px solid #E7F6F2;
    box-shadow: 0px 0px 1px 1px #E7F6F2;
    background-color: #3d555c;
    color: #E7F6F2;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.2em;
    outline: none;
}

.buttonComponent:hover {
    background-color: #395B64;
}